body {
  background-color: cadetblue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow';
}

.resource-card {
  border-width: 2px;
  border-radius: 80%;
  border-color: black;
  border-style: dashed;
}
